<%- include('../../../template/_head', { page: jsonData['saito'] }); %>
  <%- include('../../../template/_header' ); %>
    <main class="main-contents">

      <section class="section_container">
        <div class="section_inner">
          <article class="profilePage">
            <section class="profilePage-sec01">
              <figure class="profilePage_img">
                <img src="/img/member/saito.png" alt="">
              </figure><!-- /.img -->
              <h1 class="name"><span>デザイナー</span><br>齋藤&nbsp;広大</h1>
              <ul class="profilePage-sns">
                <li class="profilePage-sns_item profilePage-sns_item02"><a href="https://twitter.com/sa__i__to"><img src="/img/icon/s-twitter.png" alt="">Twitter</a></li>
              </ul>
            </section><!-- /.profilePage-sec01 -->

            <section class="profilePage-sec02">
              <header class="section_heading">
                <h2 class="section_title">プロフィール</h2>
              </header>
              <p class="section_text">学生時代の研究活動を通じて分析力や物事を組み立てる力を身につける。また、学会発表のプレゼンテーション資料や論文の作図において人に伝えるデザインの重要性に気づく。<br>社会人になってから独学でデザインを学び、学生時代に専攻した情報工学分野を生かせる Web 業界を目指す。HTML/CSSの構造を理解しつつ、よりデザインに力を入れたいという思いが強くなる。<br>現在は Webデザインをはじめ、アプリケーションデザインやUIデザイン、ロゴデザインにも制作範囲を広げ、活動中。</p>
            </section><!-- /.profilePage-sec02 -->
            <section class="profilePage-sec03">
              <header class="section_heading">
                <h2 class="section_title">マインドセット</h2>
              </header>
              <p class="section_text">「想いをひろげるデザイン」を強く意識しています。<br>人の想いが点在する社会において、デザインは波打つようにひろがり、新たな想いと価値を生み出す役割を担うと考えています。その共鳴の波をより遠くまでひろげるために、背景にある想いの本質まで分解し、より純度の高い要素を掛け合わせてビジュアルを生み出していきます。<br>社会に課題がある限り、人に想いがある限り、デザインができることは無くなりません。ストーリーのある生きたデザインで、想いをひろげていきます。</p>
            </section><!-- /.profilePage-sec03 -->
            <section class="profilePage-sec04">
              <header class="section_heading">
                <h2 class="section_title">できること</h2>
              </header>
              <p class="section_text">デザイン各種（Web／アプリケーション／ロゴ／インフォグラフィック／プレゼンテーション資料）</p>
            </section><!-- /.profilePage-sec04 -->
            <section class="profilePage-sec05">
              <header class="section_heading">
              <h2 class="section_title">沿革</h2>
              </header>
              <p class="section_text"></p>
              <ul class="history">
                <li class="history_item">
                  <div class="year">1996/11</div>
                  <div class="event">見渡しのいい米所に生まれる</div>
                </li>
                <li class="history_item">
                  <div class="year">2014/04</div>
                  <div class="event">鶴岡高専に入学、5年間の監獄寮生活が始まる</div>
                </li>
                <li class="history_item">
                  <div class="year">2017/03</div>
                  <div class="event">制御情報工学科を無事卒業するも、高専生活を延長する</div>
                </li>
                <li class="history_item">
                  <div class="year">2017/04</div>
                  <div class="event">通学時間が惜しくなり、研究室に住み始める</div>
                </li>
                <li class="history_item">
                  <div class="year">2019/03</div>
                  <div class="event">鶴岡工業高等専門学校 生産システム工学専攻<br>電気電子・情報コース（名前長すぎる）なんとか修了</div>
                </li>
                <li class="history_item">
                  <div class="year">2019/04</div>
                  <div class="event">イベント関係の電気施工管理に従事</div>
                </li>
                <li class="history_item">
                  <div class="year">2019/11</div>
                  <div class="event">デザイナーになるべく退職</div>
                </li>
                <li class="history_item">
                  <div class="year">2020/01</div>
                  <div class="event">事務職に従事しつつデザインを始める。日々制作を重ね、現在に至る</div>
                </li>
              </ul>
            </section><!-- /.profilePage-sec03 -->
          </article><!-- /.profilePage -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">齋藤が最近書いた記事</h2>
          </header>
          <%- include( '../../../template/_swiperCard' ) %>
            <div class="more">
              <a href="/blog/" class="button03">齋藤の執筆記事一覧</a>
            </div><!-- /.more -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="contactBox">
        <div class="contactBox_wrap">
          <ul class="contactBox_list01">
            <li class="contactBox_item">
              <h3 class="contactBox_title">Wepotについて</h3>
              <div class="contactBox_img01">
                <img src="/img/icon/wepot.png" alt="">
              </div>
              <p class="contactBox_text">Wepotはデジタルクリエイティブで課題を抱えるすべての人への解決策を提示できます。</p>
              <div class="contactBox_btn">
                <a href="/about/" class="button02"><span>詳細はこちら</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">実績一覧</h3>
              <div class="contactBox_img04">
                <img src="/img/icon/works.png" alt="">
              </div>
              <p class="contactBox_text">Wepotには多種多様な実績があります。メンバーの強みが生きた実績をご覧ください</p>
              <div class="contactBox_btn">
                <a href="/works/" class="button02"><span>実績一覧をみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div><!-- /.contactBox_img -->
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
      
          <ul class="contactBox_list02">
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/about/">
                <div class="contactBox_img01">
                  <img src="/img/icon/wepot.png" alt="">
                </div>
                <h3 class="contactBox_title">Wepotについて</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/works/">
                <div class="contactBox_img04">
                  <img src="/img/icon/works.png" alt="">
                </div>
                <h3 class="contactBox_title">実績一覧</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp02">
              <h3 class="contactBox_title contactBox_title01">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div>
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
        </div><!-- /.contactBox_wrap -->
      </section><!-- /.contactBox -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">おすすめ記事</h2>
          </header>
          <%- include( '../../../template/_swiperCard' ) %>
            <div class="more">
              <a href="/blog/" class="button03">記事一覧をみる</a>
            </div><!-- /.more -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->
    </main>
    <%- include( '../../../template/_footer' ) %>