<%- include('../template/_head', { page: jsonData['blog'] }); %>
  <%- include('../template/_header' ); %>

    <main class="main-contents">
      <section class="pageVisual bg01">
        <header class="pageVisual_heading">
          <h1 class="pageVisual_title">BLOG</h1>
        </header>
      </section><!-- /.pageVisual -->

      <section class="section_container blogPage">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">記事一覧</h2>
          </header>
          <article class="blogCards">
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure>
                <div class="blogCard_body">
                  <div class="blogCard_tag">Webデザイン</div>
                  <p class="blogCard_time">YYYY/MM/DD</p>
                  <h2 class="blogCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
                  <div class="blogCard_author">
                    <img src="/img/blog/author.png" alt="">
                    <p>さいとぅ</p>
                  </div>
                </div>
              </a>
            </article><!-- /.blogCards_item -->
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure>
                <div class="blogCard_body">
                  <div class="blogCard_tag">Webデザイン</div>
                  <p class="blogCard_time">YYYY/MM/DD</p>
                  <h2 class="blogCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
                  <div class="blogCard_author">
                    <img src="/img/blog/author.png" alt="">
                    <p>さいとぅ</p>
                  </div>
                </div>
              </a>
            </article><!-- /.blogCards_item -->
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure>
                <div class="blogCard_body">
                  <div class="blogCard_tag">Webデザイン</div>
                  <p class="blogCard_time">YYYY/MM/DD</p>
                  <h2 class="blogCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
                  <div class="blogCard_author">
                    <img src="/img/blog/author.png" alt="">
                    <p>さいとぅ</p>
                  </div>
                </div>
              </a>
            </article><!-- /.blogCards_item -->
            <article class="blogCards_item">
              <a class="blogCard" href="">
                <figure class="blogCard_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure>
                <div class="blogCard_body">
                  <div class="blogCard_tag">Webデザイン</div>
                  <p class="blogCard_time">YYYY/MM/DD</p>
                  <h2 class="blogCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
                  <div class="blogCard_author">
                    <img src="/img/blog/author.png" alt="">
                    <p>さいとぅ</p>
                  </div>
                </div>
              </a>
            </article><!-- /.blogCards_item -->
            <article class="blogCards_item">
              <a class="blogCard" href="">
                <figure class="blogCard_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure>
                <div class="blogCard_body">
                  <div class="blogCard_tag">Webデザイン</div>
                  <p class="blogCard_time">YYYY/MM/DD</p>
                  <h2 class="blogCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
                  <div class="blogCard_author">
                    <img src="/img/blog/author.png" alt="">
                    <p>さいとぅ</p>
                  </div>
                </div>
              </a>
            </article><!-- /.blogCards_item -->
            <article class="blogCards_item">
              <a class="blogCard" href="">
                <figure class="blogCard_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure>
                <div class="blogCard_body">
                  <div class="blogCard_tag">Webデザイン</div>
                  <p class="blogCard_time">YYYY/MM/DD</p>
                  <h2 class="blogCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
                  <div class="blogCard_author">
                    <img src="/img/blog/author.png" alt="">
                    <p>さいとぅ</p>
                  </div>
                </div>
              </a>
            </article><!-- /.blogCards_item -->
            <article class="blogCards_item">
              <a class="blogCard" href="">
                <figure class="blogCard_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure>
                <div class="blogCard_body">
                  <div class="blogCard_tag">Webデザイン</div>
                  <p class="blogCard_time">YYYY/MM/DD</p>
                  <h2 class="blogCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
                  <div class="blogCard_author">
                    <img src="/img/blog/author.png" alt="">
                    <p>さいとぅ</p>
                  </div>
                </div>
              </a>
            </article><!-- /.blogCards_item -->
            <article class="blogCards_item">
              <a class="blogCard" href="">
                <figure class="blogCard_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure>
                <div class="blogCard_body">
                  <div class="blogCard_tag">Webデザイン</div>
                  <p class="blogCard_time">YYYY/MM/DD</p>
                  <h2 class="blogCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
                  <div class="blogCard_author">
                    <img src="/img/blog/author.png" alt="">
                    <p>さいとぅ</p>
                  </div>
                </div>
              </a>
            </article><!-- /.blogCards_item -->
          </article><!-- /.blogCards -->
          <%- include( '../template/_pager' ) %>
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">カテゴリーから探す</h2>
          </header>
          <%- include('../template/_categoryList' ); %>
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="contactBox">
        <div class="contactBox_wrap">
          <ul class="contactBox_list01">
            <li class="contactBox_item">
              <h3 class="contactBox_title">Wepotについて</h3>
              <div class="contactBox_img01">
                <img src="/img/icon/wepot.png" alt="">
              </div>
              <p class="contactBox_text">Wepotはデジタルクリエイティブで課題を抱えるすべての人への解決策を提示できます。</p>
              <div class="contactBox_btn">
                <a href="/about/" class="button02"><span>詳細はこちら</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">実績一覧</h3>
              <div class="contactBox_img04">
                <img src="/img/icon/works.png" alt="">
              </div>
              <p class="contactBox_text">Wepotには多種多様な実績があります。メンバーの強みが生きた実績をご覧ください</p>
              <div class="contactBox_btn">
                <a href="/works/" class="button02"><span>実績一覧をみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div><!-- /.contactBox_img -->
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
      
          <ul class="contactBox_list02">
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/about/">
                <div class="contactBox_img01">
                  <img src="/img/icon/wepot.png" alt="">
                </div>
                <h3 class="contactBox_title">Wepotについて</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/works/">
                <div class="contactBox_img04">
                  <img src="/img/icon/works.png" alt="">
                </div>
                <h3 class="contactBox_title">実績一覧</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp02">
              <h3 class="contactBox_title contactBox_title01">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div>
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
        </div><!-- /.contactBox_wrap -->
      </section><!-- /.contactBox -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">おすすめ記事</h2>
          </header>
          <%- include( '../template/_swiperCard' ) %>
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->
    </main><!-- /.main-contents -->
    <%- include( '../template/_footer' ) %>