<%- include('../template/_head', { page: jsonData['about'] }); %>
  <%- include('../template/_header' ); %>
    <main class="main-contents">
      <section class="pageVisual bg01">
        <header class="pageVisual_heading">
          <h1 class="pageVisual_title">Wepotとは</h1>
        </header>
      </section><!-- /.pageVisual -->
      <section class="section_container about01">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">Wepotとは</h2>
          </header>
          <p class="section_text">Wepotは、デジタルクリエイティブで課題を抱えるすべての人への解決策を提示できます。なぜなら、強みが違う自立したフリーランスで構成されるクリエイティブチームだからです。そして、Wepotに浸透しているのは、クライアントの先にいるユーザーを想像すること。日々進化するテクノロジーは必要不可欠になった一方で、エンドユーザーにとって使いづらい・ほしい情報がすぐに得られないシーンも。そのような状況を1つ1つ改善していくことが結果として社会を良くし、お客様の成果にも貢献できると確信しています。クライアントとユーザー、どちらの課題をも解決すること。それがWepotのミッションです。</p>
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->
      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">情報発信について</h2>
          </header>
          <p class="section_text">Wepotのメンバーはそれぞれに違った得意分野を持っています。それぞれが、制作活動をするにあたって基礎知識から応用、セオリーなどを丁寧に解説しています。</p>
          <div class="categoryCards">
            <ul class="categoryCards_list">
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">WEBデザイン</h3>
                <p class="categoryCards_text">Webデザインに関するあらゆる記事を執筆します。新規Webサイト制作やWebサイトのリニューアル、採用サイト、ブランディングやキャンペーン用など、サイトの目的に応じて重要な要素は異なります。効果的なWebデザインを制作するために大事なTipsを記事にています。</p>
              </li><!-- /.categoryCards_item -->
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">WordPress</h3>
                <p class="categoryCards_text">この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章は</p>
              </li><!-- /.categoryCards_item -->
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">マーケティング</h3>
                <p class="categoryCards_text">この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章は</p>
              </li><!-- /.categoryCards_item -->
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">ディレクション</h3>
                <p class="categoryCards_text">この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章は</p>
              </li><!-- /.categoryCards_item -->
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">コーディング</h3>
                <p class="categoryCards_text">この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章は</p>
              </li><!-- /.categoryCards_item -->
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">イラスト</h3>
                <p class="categoryCards_text">この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章は</p>
              </li><!-- /.categoryCards_item -->
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">動画編集</h3>
                <p class="categoryCards_text">この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章は</p>
              </li><!-- /.categoryCards_item -->
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">新規カテゴリー</h3>
                <p class="categoryCards_text">この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章は</p>
              </li><!-- /.categoryCards_item -->
              <li class="categoryCards_item">
                <div class="categoryCards_img"><img src="/img/blog/thumbnail.png" alt=""></div>
                <h3 class="categoryCards_title">新規カテゴリー</h3>
                <p class="categoryCards_text">この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章は</p>
              </li><!-- /.categoryCards_item -->
            </ul>
          </div><!-- /.categoryCards -->
          <div class="more">
            <a href="/blog/" class="button03">記事一覧をみる</a>
          </div><!-- /.more -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">Wepotでできること</h2>
          </header>
          <div class="can">
            <%- include('../template/_can' ); %>
            <p class="can_text01">他、上記の記載事項だけでなくあらゆるご相談が可能です。お気軽にお問い合わせください。</p>
          </div>
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="contactBox">
        <div class="contactBox_wrap">
          <ul class="contactBox_list01">
            <li class="contactBox_item">
              <h3 class="contactBox_title">実績一覧</h3>
              <div class="contactBox_img04">
                <img src="/img/icon/works.png" alt="">
              </div>
              <p class="contactBox_text">Wepotには多種多様な実績があります。メンバーの強みが生きた実績をご覧ください</p>
              <div class="contactBox_btn">
                <a href="/works/" class="button02"><span>実績一覧をみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">メンバー紹介</h3>
              <div class="contactBox_img02">
                <img src="/img/icon/member.png" alt="">
              </div><!-- /.contactBox_img -->
              <p class="contactBox_text">それぞれ強みが違う自立したフリーランスで構成されるクリエイティブ集団です。</p>
              <div class="contactBox_btn">
                <a href="/about/member" class="button02"><span>詳細はこちら</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div><!-- /.contactBox_img -->
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->

          <ul class="contactBox_list02">
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/works/">
                <div class="contactBox_img04">
                  <img src="/img/icon/works.png" alt="">
                </div>
                <h3 class="contactBox_title">実績一覧</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/about/member/">
                <div class="contactBox_img02">
                  <img src="/img/icon/member.png" alt="">
                </div>
                <h3 class="contactBox_title">メンバー紹介</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp02">
              <h3 class="contactBox_title contactBox_title01">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div>
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
        </div><!-- /.contactBox_wrap -->
      </section><!-- /.contactBox -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">おすすめ記事</h2>
          </header>
          <%- include( '../template/_swiperCard' ) %>
            <div class="more">
              <a href="/blog/" class="button03">記事一覧をみる</a>
            </div><!-- /.more -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->
    </main>
    <%- include( '../template/_footer' ) %>