<%- include('../../template/_head', { page: jsonData['single'] }); %>
  <%- include('../../template/_header' ); %>

    <main class="main-contents">

      <section class="singlePage">
        <div class="singlePage_inner">
          <div class="singlePage_wrap">

            <article class="blog">
              <div class="header_wrap">
                <header>
                  <h1>h1 ブログタイトル</h1>
                  <div class="blogMeta_wrap">
                    <div class="infoLeft">
                      <p class="time">YYYY/MM/DD</p>
                      <div class="tag">ディレクション</div>
                    </div>
                    <figure class="infoRight">
                      <img src="/img/blog/author.png" alt="">
                      <figcaption>さいとう</figcaption>
                    </figure>
                  </div>
                </header><!-- /.blog_header -->
                <figure class="blog_img">
                  <img src="/img/blog/thumbnail.png" alt="">
                </figure><!-- /.thumbnail -->
              </div><!-- /.wrap -->

              <p>導入文です。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>

              <div class="chapter">
                <p>目次</p>
                <ol class="chapter_list">
                  <li><a href="#link01">大見出し1：遷移先アンカーに「link01」を入力</a>
                    <ol>
                      <li><a href="#link01-1">小見出し：遷移先アンカーに「link01-1」を入力</a> </li>
                      <li><a href="#link01-2">小見出し：遷移先アンカーに「link01-2」を入力</a> </li>
                      <li><a href="#link01-3">小見出し：遷移先アンカーに「link01-3」を入力</a> </li>
                      <li><a href="#link01-4">小見出し：遷移先アンカーに「link01-4」を入力</a> </li>
                      <li><a href="#link01-5">小見出し：遷移先アンカーに「link01-5」を入力</a> </li>
                      <li><a href="#link01-6">小見出し：遷移先アンカーに「link01-6」を入力</a> </li>
                    </ol>
                  </li>
                  <li><a href="#link02">大見出し2：遷移先アンカーに「link02」を入力</a>
                    <ol>
                      <li><a href="#link02-1">小見出し：遷移先アンカーに「link02-1」を入力</a></li>
                      <li><a href="#link02-2">小見出し：遷移先アンカーに「link02-2」を入力</a></li>
                      <li><a href="#link02-3">小見出し：遷移先アンカーに「link02-3」を入力</a> </li>
                      <li><a href="#link02-4">小見出し：遷移先アンカーに「link02-4」を入力</a> </li>
                      <li><a href="#link02-5">小見出し：遷移先アンカーに「link02-5」を入力</a> </li>
                      <li><a href="#link02-6">小見出し：遷移先アンカーに「link02-6」を入力</a> </li>
                    </ol>
                  </li>
                  <li><a href="#link03">大見出し3：遷移先アンカーに「link03」を入力</a>
                    <ol>
                      <li><a href="#link03-1">小見出し：遷移先アンカーに「link03-1」を入力</a></li>
                      <li><a href="#link03-2">小見出し：遷移先アンカーに「link03-2」を入力</a> </li>
                      <li><a href="#link03-3">小見出し：遷移先アンカーに「link03-3」を入力</a> </li>
                      <li><a href="#link03-4">小見出し：遷移先アンカーに「link03-4」を入力</a> </li>
                      <li><a href="#link03-5">小見出し：遷移先アンカーに「link03-5」を入力</a> </li>
                      <li><a href="#link03-6">小見出し：遷移先アンカーに「link03-6」を入力</a> </li>
                    </ol>
                  </li>
                  <li><a href="#link04">大見出し4：遷移先アンカーに「link04」を入力</a>
                    <ol>
                      <li><a href="#link04-1">小見出し：遷移先アンカーに「link04-1」を入力</a></li>
                      <li><a href="#link04-2">小見出し：遷移先アンカーに「link04-2」を入力</a> </li>
                      <li><a href="#link04-3">小見出し：遷移先アンカーに「link04-3」を入力</a> </li>
                      <li><a href="#link04-4">小見出し：遷移先アンカーに「link04-4」を入力</a> </li>
                      <li><a href="#link04-5">小見出し：遷移先アンカーに「link04-5」を入力</a> </li>
                      <li><a href="#link04-6">小見出し：遷移先アンカーに「link04-6」を入力</a> </li>
                    </ol>
                  </li>
                  <li><a href="#link05">大見出し5：遷移先アンカーに「link05」を入力</a>
                    <ol>
                      <li><a href="#link05-1">小見出し：遷移先アンカーに「link05-1」を入力</a></li>
                      <li><a href="#link05-2">小見出し：遷移先アンカーに「link05-2」を入力</a> </li>
                      <li><a href="#link05-3">小見出し：遷移先アンカーに「link05-3」を入力</a> </li>
                      <li><a href="#link05-4">小見出し：遷移先アンカーに「link05-4」を入力</a> </li>
                      <li><a href="#link05-5">小見出し：遷移先アンカーに「link05-5」を入力</a> </li>
                      <li><a href="#link05-6">小見出し：遷移先アンカーに「link05-6」を入力</a> </li>
                    </ol>
                  </li>
                  <li><a href="#summary">まとめ：遷移先アンカーに「summary」を入力</a></li>
                </ol>
              </div><!-- /.chapter -->
              <h2>1. h2見出し</h2>
              <h3>1-1. h3見出し</h3>
              <p>
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
              </p>
              <p class="red">
                この文章は色付きダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章は色付きダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章は色付きダミーです。文字の大きさ、量、字間、行間等を確認するために入れています
              </p>
              <p>この文章はアンダーライン付きダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。<span
                  class="underline">この文章はアンダーライン付きダミーです。</span>文字の大きさ、量、字間、行間等を確認するために入れています。この文章はアンダーライン付きダミーです。文字の大きさ、量、字間、行間等を<span
                  class="underline">確認するため</span>に入れています。</p>
              <p>この文章はマーカー付きダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はマーカー付きダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。<span
                  class="marker">この文章はマーカー付きダミーです。文字の大きさ、量、字間、行間等を確認するため</span>に入れています。</p>
              <figure class="blog_img">
                <img src="/img/blog/img01.png" alt="">
                <figcaption><span>▲</span>キャプション</figcaption>
              </figure>
              <figure class="blog_img">
                <img src="/img/blog/thumbnail.png" alt="">
                <figcaption><span>▲</span>キャプション</figcaption>
              </figure>
              <p>
                この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
              </p>
              <p class="border01">シンプルな枠で強調する。</p>
              <blockquote>
                <p>ここに引用する文を書きます。ここに引用する文を書きます。ここに引用する文を書きます。ここに引用する文を書きます。ここに引用する文を書きます。ここに引用する文を書きます。</p>
                <cite>出典元：<a href="">ここに引用元の情報を書きますここに引用元の情報を書きますここに引用元の情報を書きます</a></cite>
              </blockquote>
              <div class="border02">
                <p class="border02_title">ここにタイトル</p>
                <p class="border02_text">タイトル付きの枠で強調する。</p>
              </div>
              <div class="border03">
                <p class="border03_title">ここにタイトル</p>
                <p class="border03_text">タイトル付き＆色塗り＆影付きの枠で強調する。</p>
              </div>
              <!-- 左の吹き出し -->
              <div class="blnLeft">
                <figure class="blnLeft-icon"><img src="/img/member/yukix.png" alt="代替えテキスト">
                  <figcaption>ユキックス</figcaption>
                </figure>
                <div class="blnLeft-talk">
                  <p>吹き出しその 1 で会話する。(最大長)吹き出しその 1 で会話する。(最大長)吹き出しその 1 で会話する。(最大長)吹き出しその 1 で会話する。(最大長)吹き出しその 1で会話する。(最大長)吹き出しその 1で会話する。(最大長)</p>
                </div>
              </div>
              <!-- 右の吹き出し -->
              <div class="blnRight">
                <figure class="blnRight-icon"><img src="/img/blog/author.png" alt="代替えテキスト">
                  <figcaption>さいとう</figcaption>
                </figure>
                <div class="blnRight-talk">
                  <p>吹き出しその 2 で会話する。（文長に応じて可変）</p>
                </div>
              </div>
              <div class="list01">
                <h4>h4見出し</h4>
                <ul>
                  <li>リストリストリストリストリストリストリストリスト</li>
                  <li>リストリストリストリスト</li>
                  <li>リストリストリストリスト</li>
                  <li>リストリストリストリスト</li>
                  <li>リストリストリストリスト</li>
                </ul>
              </div><!-- /.list01 -->
              <div class="list02">
                <h4>h4見出し</h4>
                <ol>
                  <li>リストリストリストリスト</li>
                  <li>リストリストリストリストリストリストリストリスト</li>
                  <li>リストリストリストリスト</li>
                  <li>リストリストリストリスト</li>
                  <li>リストリストリストリスト</li>
                  <li>リストリストリストリスト</li>
                </ol>
              </div><!-- /.list02 -->
              <p>まとめです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
            </article><!-- /.blog -->
            <article class="relatedPost">
              <a href="">
                <div class="relatedPost_wrap">
                  <figure class="relatedPost_img">
                    <img src="/img/blog/img02.png" alt="">
                  </figure><!-- /.relatedPost_img -->
                  <div class="relatedPost_body">
                    <div class="relatedPost_tag">関連記事</div>
                    <h2 class="relatedPost_title">記事タイトル記事タイトル記事タイトル記事タイトル記事タイトル</h2>
                    <p class="relatedPost_time">YYYY/MM/DD</p>
                  </div>
                </div><!-- /.relatedPost_wrap -->
              </a>
            </article><!-- /.related_post -->
            <div class="blogShare">
              <p>この記事がシェアできます</p>
              <ul>
                <li><a href=""><img src="/img/icon/s-facebook.png" alt=""></a></li>
                <li><a href=""><img src="/img/icon/s-twitter.png" alt=""></a></li>
                <li><a href=""><img src="/img/icon/s-linkedin.png" alt=""></a></li>
                <li><a href=""><img src="/img/icon/s-line.png" alt=""></a></li>
                <li><a href=""><img src="/img/icon/s-slack.png" alt=""></a></li>
                <li><a href=""><img src="/img/icon/s-hatena.png" alt=""></a></li>
                <li><a href=""><img src="/img/icon/s-pocket.png" alt=""></a></li>
              </ul>
            </div><!-- /.blogShare -->
            <section class="blogAuthor">
              <span class="blogAuthor_heading">この記事を書いた人</span>
              <div class="blogAuthor_wrap">
                <figure class="blogAuthor_img">
                  <img src="/img/member/tomo.png" alt="">
                  <p class="name pc-none">TOMO<br><span class="position">グラフィックデザイナー/イラストレーター/Webデザイナー/動画クリエイター</span>
                  </p>
                </figure><!-- /.img -->
                <div class="blogAuthor_body">
                  <p class="name sp-none">TOMO<br><span class="position">グラフィックデザイナー/イラストレーター/Webデザイナー/動画クリエイター</span>
                  </p>
                  <p class="description">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
                  </p>
                  <ul class="blogAuthor-sns">
                    <li class="blogAuthor-sns_item blogAuthor-sns_item01">
                      <a href=""><img src="/img/icon/s-website.png" alt="">Web Site</a>
                    </li>
                    <li class="blogAuthor-sns_item blogAuthor-sns_item02">
                      <a href=""><img src="/img/icon/s-twitter.png" alt="">Twitter</a>
                    </li>
                    <li class="blogAuthor-sns_item blogAuthor-sns_item03">
                      <a href=""><img src="/img/icon/s-facebook.png" alt="">Facebook</a>
                    </li>
                    <li class="blogAuthor-sns_item blogAuthor-sns_item04">
                      <a href=""><img src="/img/icon/s-instagrum.png" alt="">Instagram</a>
                    </li>
                    <li class="blogAuthor-sns_item blogAuthor-sns_item05">
                      <a href=""><img src="/img/icon/s-youtube.png" alt="">YouTube</a>
                    </li>
                  </ul>
                </div><!-- /.body -->
              </div><!-- /.blogAuthor_wrap -->
            </section><!-- /.blog-author -->
          </div><!-- /.singlePage_wrap -->
          <%- include( '../../template/_sideMenu' ) %>
        </div><!-- /.singlePage_inner -->
      </section><!-- /.singlePage -->

      <section class="contactBox">
        <div class="contactBox_wrap">
          <ul class="contactBox_list01">
            <li class="contactBox_item">
              <h3 class="contactBox_title">Wepotについて</h3>
              <div class="contactBox_img01">
                <img src="/img/icon/wepot.png" alt="">
              </div>
              <p class="contactBox_text">Wepotはデジタルクリエイティブで課題を抱えるすべての人への解決策を提示できます。</p>
              <div class="contactBox_btn">
                <a href="/about/" class="button02"><span>詳細はこちら</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">実績一覧</h3>
              <div class="contactBox_img04">
                <img src="/img/icon/works.png" alt="">
              </div>
              <p class="contactBox_text">Wepotには多種多様な実績があります。メンバーの強みが生きた実績をご覧ください</p>
              <div class="contactBox_btn">
                <a href="/works/" class="button02"><span>実績一覧をみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div><!-- /.contactBox_img -->
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->

          <ul class="contactBox_list02">
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/about/">
                <div class="contactBox_img01">
                  <img src="/img/icon/wepot.png" alt="">
                </div>
                <h3 class="contactBox_title">Wepotについて</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/works/">
                <div class="contactBox_img04">
                  <img src="/img/icon/works.png" alt="">
                </div>
                <h3 class="contactBox_title">実績一覧</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp02">
              <h3 class="contactBox_title contactBox_title01">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div>
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
        </div><!-- /.contactBox_wrap -->
      </section><!-- /.contactBox -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">おすすめ記事</h2>
          </header>
          <%- include( '../../template/_swiperCard' ) %>
            <div class="more">
              <a href="/blog/" class="button03">記事一覧をみる</a>
            </div><!-- /.more -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->
    </main>

    <%- include( '../../template/_footer' ) %>