<%- include('../../../template/_head', { page: jsonData['maruo'] }); %>
  <%- include('../../../template/_header' ); %>
    <main class="main-contents">

      <section class="section_container">
        <div class="section_inner">
          <article class="profilePage">
            <section class="profilePage-sec01">
              <figure class="profilePage_img">
                <img src="/img/member/maruo.png" alt="">
              </figure><!-- /.img -->
              <h1 class="name"><span>マークアップエンジニア</span><br>丸尾&nbsp;麻紀子</h1>
              <ul class="profilePage-sns">
                <li class="profilePage-sns_item profilePage-sns_item02"><a href="https://twitter.com/malco_trico"><img src="/img/icon/s-twitter.png" alt="">Twitter</a></li>
              </ul>
            </section><!-- /.profilePage-sec01 -->

            <section class="profilePage-sec02">
              <header class="section_heading">
                <h2 class="section_title">プロフィール</h2>
              </header>
              <p class="section_text">社会人になって約20年、保険代理店・住宅機器メーカー・総合人材会社では営業事務、惣菜店・リラクゼーションサロンでの接客業に従事。<br>夫の仕事の関係で転勤が想定されるため、一つの会社に勤務し続けることは叶わなかったが、代わりに様々な業種や地域での就業を経験し、環境への変化など臨機応変に対応する力を養う。<br>まもなく40代という年齢を考え、就業場所にとらわれずに働ける環境を模索。2020年夏にWeb業界へ進むことを決意し、同年11月にマークアップエンジニアとしての仕事を開始。</p>
            </section><!-- /.profilePage-sec02 -->
            <section class="profilePage-sec03">
              <header class="section_heading">
                <h2 class="section_title">マインドセット</h2>
              </header>
              <p class="section_text">仕事をする上で大切にしていることは、「本質を見失わないこと」です。
              作業にあたる人が多くなると、個人個人の思いが強くなり、物事の本質が見えにくくなることがありますが、それではお客様が望んでいる目的の達成は困難になります。<br>自分は「誰」のために「何」をすべきかを常に念頭におき、作業に追われて心に余裕を持ちにくいときでも、「本質を見失わない」ように心掛けています。</p>
            </section><!-- /.profilePage-sec03 -->
            <section class="profilePage-sec04">
              <header class="section_heading">
                <h2 class="section_title">できること</h2>
              </header>
              <p class="section_text">HTML／CSS設計に基づき、お客様の目標達成のために作成されたデザインを再現します。</p>
            </section><!-- /.profilePage-sec04 -->
            <section class="profilePage-sec05">
              <header class="section_heading">
              <h2 class="section_title">沿革</h2>
              </header>
              <p class="section_text"></p>
              <ul class="history">
                <li class="history_item">
                  <div class="year">1983/02</div>
                  <div class="event">東京都板橋区で生まれる</div>
                </li>
                <li class="history_item">
                  <div class="year">2001/04</div>
                  <div class="event">ライブスタッフに憧れ専門学校でイベント照明を学ぶ</div>
                </li>
                <li class="history_item">
                  <div class="year">2006/06</div>
                  <div class="event">フリーター・介護を経て、保険代理店で営業事務として従事</div>
                </li>
                <li class="history_item">
                  <div class="year">2009/10</div>
                  <div class="event">結婚を機に夫の転勤先である石川県金沢市に引越し</div>
                </li>
                <li class="history_item">
                  <div class="year">2010/02</div>
                  <div class="event">住宅機器メーカーで営業事務として従事</div>
                </li>
                <li class="history_item">
                  <div class="year">2012/04</div>
                  <div class="event">転勤に伴い愛知県名古屋市に引越し</div>
                </li>
                <li class="history_item">
                  <div class="year">2012/11</div>
                  <div class="event">リラクゼーションサロンでセラピストとして従事</div>
                </li>
                <li class="history_item">
                  <div class="year">2015/04</div>
                  <div class="event">3度目の転勤で6年ぶりに地元横浜へ帰る</div>
                </li>
                <li class="history_item">
                  <div class="year">2016/04</div>
                  <div class="event">1年間の専業主婦を満喫し、総合人材会社で3度目の営業事務に従事</div>
                </li>
                <li class="history_item">
                  <div class="year">2018/05</div>
                  <div class="event">業務縮小により総合人材会社を退職</div>
                </li>
                <li class="history_item">
                  <div class="year">2020/06</div>
                  <div class="event">Web制作の道へ進むことを決意、現在に至る</div>
                </li>
              </ul>
            </section><!-- /.profilePage-sec03 -->
          </article><!-- /.profilePage -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">丸尾が最近書いた記事</h2>
          </header>
          <%- include( '../../../template/_swiperCard' ) %>
            <div class="more">
              <a href="/blog/" class="button03">丸尾の執筆記事一覧</a>
            </div><!-- /.more -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="contactBox">
        <div class="contactBox_wrap">
          <ul class="contactBox_list01">
            <li class="contactBox_item">
              <h3 class="contactBox_title">Wepotについて</h3>
              <div class="contactBox_img01">
                <img src="/img/icon/wepot.png" alt="">
              </div>
              <p class="contactBox_text">Wepotはデジタルクリエイティブで課題を抱えるすべての人への解決策を提示できます。</p>
              <div class="contactBox_btn">
                <a href="/about/" class="button02"><span>詳細はこちら</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">実績一覧</h3>
              <div class="contactBox_img04">
                <img src="/img/icon/works.png" alt="">
              </div>
              <p class="contactBox_text">Wepotには多種多様な実績があります。メンバーの強みが生きた実績をご覧ください</p>
              <div class="contactBox_btn">
                <a href="/works/" class="button02"><span>実績一覧をみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div><!-- /.contactBox_img -->
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
      
          <ul class="contactBox_list02">
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/about/">
                <div class="contactBox_img01">
                  <img src="/img/icon/wepot.png" alt="">
                </div>
                <h3 class="contactBox_title">Wepotについて</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/works/">
                <div class="contactBox_img04">
                  <img src="/img/icon/works.png" alt="">
                </div>
                <h3 class="contactBox_title">実績一覧</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp02">
              <h3 class="contactBox_title contactBox_title01">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div>
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
        </div><!-- /.contactBox_wrap -->
      </section><!-- /.contactBox -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">おすすめ記事</h2>
          </header>
          <%- include( '../../../template/_swiperCard' ) %>
            <div class="more">
              <a href="/blog/" class="button03">記事一覧をみる</a>
            </div><!-- /.more -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->
    </main>
    <%- include( '../../../template/_footer' ) %>